* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#fundo {
  background-image: url("../image/gradeFundo.png");
  padding: 32px 0;
}

#produtos {
  margin: 0 auto;
  max-width: 1400px;
  padding: 16px 0;
  position: relative;
  scroll-behavior: smooth;
}

.carrossel-produtos {
  max-width: 1135px;
  margin: 0 auto;
  position: relative;
  display: block;
  padding: 0 30px;
}

#lista-produtos {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  gap: 14px;
  padding: 20px 10px;
  max-width: 100%;
  scrollbar-width: none;
}

#lista-produtos .card-produto {
  flex: 0 0 245px;
  scroll-snap-align: start;
}

#lista-produtos::-webkit-scrollbar {
  display: none;
}

.seta {
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 55px;
  height: 54px;
  background: #ffffff00;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s, background 0.2s;
}

.seta img {
  width: 300px;
  height: auto;
}

.seta-esquerda {
  left: 0px;
  transform: translateY(-50%) rotate(180deg);
}

.seta-direita {
  right: 0px;
  transform: translateY(-50%);
}

.seta:hover {
  transform: translateY(-50%) scale(1.1);
}

.seta-esquerda:hover {
  transform: translateY(-50%) rotate(180deg) scale(1.1);
}

@media (max-width: 1024px) {
  .carrossel-produtos {
    max-width: 100%;
  }

  #lista-produtos {
    padding: 20px 32px;
  }

  #lista-produtos .card-produto {
    flex: 0 0 calc((100% - 2 * 14px) / 3);
    max-width: calc((100% - 2 * 14px) / 3);
  }
}

@media (max-width: 768px) {
  #produtos {
    padding: 8px 0;
  }

  #lista-produtos {
    padding: 20px 28px;
  }

  #lista-produtos .card-produto {
    flex: 0 0 calc((100% - 14px) / 2);
    max-width: calc((100% - 14px) / 2);
  }

  .seta {
    width: 55px;
    height: 55px;
  }

  .seta img {
    width: 44px;
  }
}

@media (max-width: 480px) {
  #lista-produtos {
    padding: 20px 24px;
    gap: 12px;
  }

  #lista-produtos .card-produto {
    flex: 0 0 80%;
    max-width: 80%;
  }
}
