* {
  margin: 0;
  padding: 0;
}
    
#cabecalho {
    padding-top: 37%;
    position: relative; 
    overflow: hidden;
  

    background: linear-gradient(
        90deg,
        rgba(255, 123, 0, 1) 0%,
        rgba(255, 160, 0, 0.98) 60%,
        rgba(255, 105, 0, 0.95) 100%
    );
    z-index: 1;
}

.banner-content-wrapper {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 1400px;

    left: 50%;
    transform: translateX(-50%);

    background-size: contain; 
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.hero-limitador {
    max-width: 1400px; 
    margin: 0 auto;

    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.banner-slider-arrow {
    background: none;
    border: none;
    font-size: 2em; 
    color: #000000; 
    cursor: pointer;
    z-index: 40; 
    padding: 30px;
    opacity: 0.8;
    transition: opacity 1ms;
}

.banner-slider-arrow:hover {
    opacity: 1;
}

@media (max-width: 768px) {
    
  #cabecalho {
        padding-top: 60%;

    .banner-content-wrapper {
        background-position: center top;
    }

    .banner-slider-arrow {
        font-size: 1.5em;
        padding: 15px;
    }
  }
}