* {
  margin: 0;
  padding: 0;
}

#cabecalho {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.banner-img {
  width: 100%;
  height: auto;
  display: block;
}

.hero-limitador {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

.banner-slider-arrow {
    background: none;
    border: none;
    font-size: 2em; 
    color: #000000; 
    cursor: pointer;
    z-index: 40; 
    padding: 30px;
    opacity: 0.8;
    transition: opacity 1ms;
}

.banner-slider-arrow:hover {
    opacity: 1;
}