*{
  margin: 0;
  padding: 0;
}

.barra {
  margin: 0 auto;
  margin-top: 10px;
  width: 100%;
  background-color: #BE0505; 
 padding: 15px 0px 15px 0px;
text-align: center;

border-top: solid 5px #FFCC00;
border-bottom: solid 5px #FFCC00;

}

.barra p{
  color: white;
  font-size: 20px;
  font-weight: bold;
   -webkit-text-stroke: .3px #000;
   font-family: Arial, Helvetica, sans-serif;
}
