.card-produto {
  width: 248px;
  height: 382px;
  background: #ffffff;
  border-radius: 0 0 14px 14px;
  border: 3px solid #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.card-produto img {
  width: 235px;
  height: 204px;
}

.card-corpo {
  background: #ffffff;
  padding: 10px 14px 14px 14px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
  width: 100%;
}

.card-corpo h3 {
  font-size: 20px;
  color: #000;
  line-height: 1.3;
  margin-bottom: 5px;
}

.card-corpo span {
  font-size: 20px;
  color: #000;
}

.btn-comprar {
  width: 174px;
  height: 45px;
  background: #41c901;
  border: 4px solid #ff7b00;
  border-radius: 24px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
  align-self: center;
  margin-top: auto;
}

.btn-comprar:hover {
  opacity: 0.9;
  background: #319901;
}
