*{
  margin: 0;
  padding: 0;
}

.card-produto {

max-width: 250px;
height: 380px;
background: rgb(255, 255, 255);
margin: 0 auto;
display: flex;
flex-direction: column;
align-items: center;
border: solid 2px #000000;
border-radius: 0px 0px 20px 20px;
}

img{
  width: 95%;
  margin: 4px 5px 0px 5px
}

.card-produto h2, span {
  color: rgb(0, 0, 0);
  align-items: center;
  margin: 10px;
}

.card-produto button {
  width: 200px;
  height: 50px;
  background: #41C901;
  border: solid 4px #FF7B00;
  border-radius:30px;
  margin-top: 10px;
  font-size: 20px
}

.informacoes {
  margin:  1px 0px 10px 0px;
  font-family: 'Arial', sans-serif;
}
