@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");

* {
  margin: 0;
  padding: 0;
}

#secao-quem-somos {

  background-color: #ffffff;
  padding: 60px 20px;
  font-family: "Arial", sans-serif;
}

.quem-somos-container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    gap: 100px; 
    align-items: center;
}

.coluna-midia {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.imagem-principal {
  width: 100%;
  height: auto;
  display: block;
}

.coluna {
  flex: 1.5;
  align-self: flex-start;
}

.titulo {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #2e2e2e;
  font-family: "Saira Stencil One", cursive;
}

.texto p {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #2e2e2e;
}

.estatisticas {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 100%;
}

.estatistica-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.valor {
  font-size: 2rem;
  font-weight: 700;
  color: #ff6900;
  line-height: 1;
}

.descricao {
  font-size: 0.9rem;
  color: #2e2e2e;
  margin-top: 5px;
}

.btn-saiba-mais {
  width: 100%;
  padding: 15px 10px;
  margin-top: 40px;
  display: block;
  clear: both;

  background-color: #99FF00;
  color: #1a1a1a;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;

  border: 3px solid #ff7b00;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 6px 0 0 #FF6900;
}



/* ------------------ Responsividade (Mobile) ------------------ */

@media (max-width: 850px) {
  .quem-somos-container {
    flex-direction: column;
    gap: 20px;
  }

  .coluna-midia {
    order: 1;
  }

  .coluna {
    order: 2;
    padding-top: 20px;
  }

  
  .titulo {
    text-align: center;
  }

  .texto p {
    text-align: left;
  }

  .estatisticas {
    justify-content: space-around;
    padding-right: 0;
  }

  .btn-saiba-mais {
    margin-top: 25px;
  }
}